<%- include("../partials/head.ejs") %>
    <%- include("../partials/banner.ejs") %>

        <h2 class="home-subtitle">Les dernières annonces</h2>

        <section class="recent-notice-container">
            <% recentNotices.forEach((notice)=> { %>
                <a href="../notices/<%= notice.id %>">
                    <div class="notice-preview">
                        <p class="notice-preview-title">
                            <%= notice.title %>
                        </p>
                        <p class="notice-preview-description">
                            <%= notice.description %>
                        </p>
                        <div class="notice-preview-bottom-container">
                            <% notice.skillLabels.forEach((label)=> { %>
                                <p class="notice-preview-skills">
                                    <%= label %>
                                </p>
                                <% }) %>
                        </div>
                    </div>
                </a>
                <% }) %>
        </section>

        <div class="right-aligned-container">
            <a href="/notices"><button class="blue-button">Consulter toutes les annonces</button></a>
        </div>
        <%- include("../partials/footer.ejs") %>