<%- include("../partials/head.ejs") %>

    <section class="recent-notice-container">
        <% notices.forEach((notice)=> { %>
            <a href="../notices/<%= notice.id %>">
                <div class="notice-preview">
                    <p class="notice-preview-title">
                        <%= notice.title %>
                    </p>
                    <p class="notice-preview-description">
                        <%= notice.description %>
                    </p>
                    <div class="notice-preview-bottom-container">
                        <% notice.skillLabels.forEach((label)=> { %>
                            <p class="notice-preview-skills">
                                <%= label %>
                            </p>
                            <% }) %>
                    </div>
                </div>
            </a>
            <% }) %>
    </section>

    <%- include("../partials/footer.ejs") %>